<h2>Edit Profile for the Person You Have Rated</h2>

<form class="" action="/posts/<% @post.id %>" method="post"> 
  <input type="hidden" name="_method" value="patch">
  <table>
  <tr>
    <td><label for="title">Individual Name:</label></td>
    <td><input type="text" name="title" value="<%= @post.title %>"></td>
    <td></td>
  </tr>
    
  <tr>
  <td><label for="content">More information:</label></td>
  <td><input type="string" name="content" value="<%= @post.content %>"></td>
  <br><br>
  </tr>
  
  <tr>
  <td><label for="Tact Rating">How tactful?:</label></td>
  <td><input type="integer" name="tact_rating" value="<%= @post.tact_rating %>"></td>
  <br><br>
  </tr>

  </table>
  <input type="submit" name="" value="Save Edited Profile">
 </form> 