
<h1>We are viewing the posts</h1>
<h4>Show Name</h4>
<h4>Show Description</h4>
<h4>Rating</h4> 

<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.created_at %>
  <%= post.content %>
  <%= post.tact_rating %>
<% end %>