<h1> Profile Summary </h1>
<br><br>
<p> We are looking at the ratings of <b><%= @post.title %></b></p>
<br>
<p> Here is more information on that person: <b><%= @post.content %></p></b>
<br>
<p> Here is this person's rating (1-10): <b><%= @post.tact_rating %></p></b>

<% if authorized_to_edit?(@post) %>
  <a href="/posts/<%= @post.id %>/edit">Edit This Profile</a>

Delete Link
<% end %>