<!DOCTYPE html>
<html>
    <head>
        <title>People</title>
    </head>
    <body>
        <h1>People Match</h1>
        <p>This is where we show you which people match with what cultures.</p>
        <p></p>
        <p></p>
        <a href="/teams">Visit the Teams page</a>
        <p></p>
        <p></p>
        <a href="/">Home page</a>
   
    </body>
</html>