<!DOCTYPE html>
<html>
    <head>
        <title>Teams</title>
    </head>
    <body>
        <h1>Team Culture</h1>
        <p>This is where we let you know what teams align with what culture.</p>
    </body>
</html>